-- MySQL dump 10.13  Distrib 8.4.9, for Linux (x86_64)
--
-- Host: localhost    Database: tub_db
-- ------------------------------------------------------
-- Server version	8.4.9

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `agendamentos_pmd`
--

DROP TABLE IF EXISTS `agendamentos_pmd`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agendamentos_pmd` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ativo` bit(1) NOT NULL,
  `data_fim` datetime(6) DEFAULT NULL,
  `data_inicio` datetime(6) NOT NULL,
  `mensagem_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKn6byxjomnfxlikkljifvxsgs` (`mensagem_id`),
  CONSTRAINT `FKn6byxjomnfxlikkljifvxsgs` FOREIGN KEY (`mensagem_id`) REFERENCES `mensagens_pmd` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agendamentos_pmd`
--

LOCK TABLES `agendamentos_pmd` WRITE;
/*!40000 ALTER TABLE `agendamentos_pmd` DISABLE KEYS */;
/*!40000 ALTER TABLE `agendamentos_pmd` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alertas_lotacao`
--

DROP TABLE IF EXISTS `alertas_lotacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alertas_lotacao` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `descricao` varchar(255) NOT NULL,
  `estado` varchar(255) NOT NULL,
  `linha` varchar(255) NOT NULL,
  `severidade` varchar(255) NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `viatura_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKnvg7rlsqldxh3uy7v82a3h2xa` (`viatura_id`),
  CONSTRAINT `FKnvg7rlsqldxh3uy7v82a3h2xa` FOREIGN KEY (`viatura_id`) REFERENCES `viaturas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alertas_lotacao`
--

LOCK TABLES `alertas_lotacao` WRITE;
/*!40000 ALTER TABLE `alertas_lotacao` DISABLE KEYS */;
/*!40000 ALTER TABLE `alertas_lotacao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alertas_operacionais`
--

DROP TABLE IF EXISTS `alertas_operacionais`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alertas_operacionais` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `descricao` varchar(1000) NOT NULL,
  `estado` varchar(255) NOT NULL,
  `info_adicional` varchar(1000) DEFAULT NULL,
  `linha` varchar(255) DEFAULT NULL,
  `origem` varchar(255) NOT NULL,
  `severidade` varchar(255) NOT NULL,
  `tema` varchar(255) NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `titulo` varchar(255) NOT NULL,
  `viatura_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK6u89uun7a6x07og29ynhqj9nf` (`viatura_id`),
  CONSTRAINT `FK6u89uun7a6x07og29ynhqj9nf` FOREIGN KEY (`viatura_id`) REFERENCES `viaturas` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alertas_operacionais`
--

LOCK TABLES `alertas_operacionais` WRITE;
/*!40000 ALTER TABLE `alertas_operacionais` DISABLE KEYS */;
/*!40000 ALTER TABLE `alertas_operacionais` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alertas_operacionais_historico`
--

DROP TABLE IF EXISTS `alertas_operacionais_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alertas_operacionais_historico` (
  `alerta_id` bigint NOT NULL,
  `historico_log` varchar(1000) DEFAULT NULL,
  KEY `FK2of6vkpnmlukkwauyws7bgnr8` (`alerta_id`),
  CONSTRAINT `FK2of6vkpnmlukkwauyws7bgnr8` FOREIGN KEY (`alerta_id`) REFERENCES `alertas_operacionais` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alertas_operacionais_historico`
--

LOCK TABLES `alertas_operacionais_historico` WRITE;
/*!40000 ALTER TABLE `alertas_operacionais_historico` DISABLE KEYS */;
/*!40000 ALTER TABLE `alertas_operacionais_historico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `catalogo_mensagens_rapidas`
--

DROP TABLE IF EXISTS `catalogo_mensagens_rapidas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `catalogo_mensagens_rapidas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `categoria` varchar(255) NOT NULL,
  `conteudo_modelo` varchar(1000) NOT NULL,
  `nome_modelo` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `catalogo_mensagens_rapidas`
--

LOCK TABLES `catalogo_mensagens_rapidas` WRITE;
/*!40000 ALTER TABLE `catalogo_mensagens_rapidas` DISABLE KEYS */;
INSERT INTO `catalogo_mensagens_rapidas` VALUES (1,'ATRASOS','LINHA 43 COM ATRASO DE 10 MIN DEVIDO A TRANSITO','Atraso Linha 43'),(2,'AVISOS','SERVICOS DE TRANSPORTES PODERAO SOFRER PERTURBACOES DEVIDO A GREVE','Aviso Greve'),(3,'GERAL','BEM-VINDO AOS TRANSPORTES URBANOS DE BRAGA - TUB','Boas Vindas'),(4,'DESVIOS','LINHA 2 DESVIADA POR MOTIVO DE OBRAS NA AV. DA LIBERDADE','Desvio de Rota');
/*!40000 ALTER TABLE `catalogo_mensagens_rapidas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracao_integracao`
--

DROP TABLE IF EXISTS `configuracao_integracao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `configuracao_integracao` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ativa` bit(1) NOT NULL,
  `endpoint` varchar(255) NOT NULL,
  `intervalo_minutos` int DEFAULT NULL,
  `nome` varchar(255) NOT NULL,
  `simulacao_max_entradas_saidas` int DEFAULT NULL,
  `simulacao_max_ocupacao_percentual` int DEFAULT NULL,
  `token` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracao_integracao`
--

LOCK TABLES `configuracao_integracao` WRITE;
/*!40000 ALTER TABLE `configuracao_integracao` DISABLE KEYS */;
INSERT INTO `configuracao_integracao` VALUES (1,_binary '','http://api.tub.pt/validadores',2,'Sincronizacao Validadores',10,90,'default_token');
/*!40000 ALTER TABLE `configuracao_integracao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracoes_notificacoes`
--

DROP TABLE IF EXISTS `configuracoes_notificacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `configuracoes_notificacoes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `canal_default` varchar(255) NOT NULL,
  `email_destino_default` varchar(255) DEFAULT NULL,
  `notificacoes_ativas` bit(1) NOT NULL,
  `severidade_minima_global` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracoes_notificacoes`
--

LOCK TABLES `configuracoes_notificacoes` WRITE;
/*!40000 ALTER TABLE `configuracoes_notificacoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `configuracoes_notificacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventos_geograficos`
--

DROP TABLE IF EXISTS `eventos_geograficos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `eventos_geograficos` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `detalhes` varchar(255) NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `tipo` varchar(255) NOT NULL,
  `viatura_id` bigint NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventos_geograficos`
--

LOCK TABLES `eventos_geograficos` WRITE;
/*!40000 ALTER TABLE `eventos_geograficos` DISABLE KEYS */;
/*!40000 ALTER TABLE `eventos_geograficos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventos_pmd`
--

DROP TABLE IF EXISTS `eventos_pmd`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `eventos_pmd` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `descricao` varchar(1000) NOT NULL,
  `severidade` varchar(255) NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `tipo_evento` varchar(255) NOT NULL,
  `painel_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKjrqmaiau8gt3b9wvfgt5py7eb` (`painel_id`),
  CONSTRAINT `FKjrqmaiau8gt3b9wvfgt5py7eb` FOREIGN KEY (`painel_id`) REFERENCES `pmd_paineis` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventos_pmd`
--

LOCK TABLES `eventos_pmd` WRITE;
/*!40000 ALTER TABLE `eventos_pmd` DISABLE KEYS */;
/*!40000 ALTER TABLE `eventos_pmd` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historico_lotacao`
--

DROP TABLE IF EXISTS `historico_lotacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historico_lotacao` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `passageiros_resultantes` int NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `tipo_evento` varchar(255) NOT NULL,
  `variacao` int NOT NULL,
  `viatura_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK8iu74nm7ei8csddvd79m8fx3j` (`viatura_id`),
  CONSTRAINT `FK8iu74nm7ei8csddvd79m8fx3j` FOREIGN KEY (`viatura_id`) REFERENCES `viaturas` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historico_lotacao`
--

LOCK TABLES `historico_lotacao` WRITE;
/*!40000 ALTER TABLE `historico_lotacao` DISABLE KEYS */;
/*!40000 ALTER TABLE `historico_lotacao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `linhas`
--

DROP TABLE IF EXISTS `linhas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `linhas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ativa` bit(1) NOT NULL,
  `codigo` varchar(255) NOT NULL,
  `destino` varchar(255) NOT NULL,
  `nome` varchar(255) NOT NULL,
  `origem` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_5t0aco2025w4d1027778aid8i` (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `linhas`
--

LOCK TABLES `linhas` WRITE;
/*!40000 ALTER TABLE `linhas` DISABLE KEYS */;
INSERT INTO `linhas` VALUES (1,_binary '','43','Esta├º├úo CP','Linha 43 - Universidade / Esta├º├úo','Universidade do Minho'),(2,_binary '','2','Avenida Central','Linha 2 - Hospital / Centro','Hospital de Braga'),(3,_binary '','7','Arcada','Linha 7 - Bom Jesus / Centro','Bom Jesus'),(4,_binary '','24','Braga Parque','Linha 24 - Gualtar / Braga Parque','Gualtar'),(5,_binary '','15','Lama├º├úes','Linha 15 - Esta├º├úo / Lama├º├úes','Esta├º├úo CP');
/*!40000 ALTER TABLE `linhas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lotacao_viatura`
--

DROP TABLE IF EXISTS `lotacao_viatura`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lotacao_viatura` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `linha` varchar(255) NOT NULL,
  `passageiros_atuais` int NOT NULL,
  `sinal_ativo` bit(1) NOT NULL,
  `taxa_ocupacao` double NOT NULL,
  `ultima_atualizacao` datetime(6) NOT NULL,
  `viatura_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_ghiucd5bqjjhm8wy687vkodm6` (`viatura_id`),
  CONSTRAINT `FK5pui9ixh73ebbnxahl7p3gu6v` FOREIGN KEY (`viatura_id`) REFERENCES `viaturas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lotacao_viatura`
--

LOCK TABLES `lotacao_viatura` WRITE;
/*!40000 ALTER TABLE `lotacao_viatura` DISABLE KEYS */;
INSERT INTO `lotacao_viatura` VALUES (1,'Linha 43',33,_binary '',41.25,'2026-05-26 15:23:04.726779',1),(2,'Linha 2',33,_binary '',44,'2026-05-26 15:23:04.738278',2),(3,'Linha 7',15,_binary '',16.666666666666664,'2026-05-26 15:23:04.753163',3),(4,'Linha 15',32,_binary '',45.714285714285715,'2026-05-26 15:23:04.766167',4),(5,'Linha 24',72,_binary '',84.70588235294117,'2026-05-26 15:23:04.779921',5),(6,'Linha 2',33,_binary '\0',44,'2026-05-26 15:23:04.794627',6);
/*!40000 ALTER TABLE `lotacao_viatura` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lotes_bilhetica`
--

DROP TABLE IF EXISTS `lotes_bilhetica`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lotes_bilhetica` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `codigo_lote` varchar(255) NOT NULL,
  `data_importacao` datetime(6) NOT NULL,
  `estado` enum('RECEBIDO','VALIDADO','PROCESSADO','ERRO') NOT NULL,
  `origem` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_jg4rssb9bydv17wxsanu2qsd` (`codigo_lote`)
) ENGINE=InnoDB AUTO_INCREMENT=200 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lotes_bilhetica`
--

LOCK TABLES `lotes_bilhetica` WRITE;
/*!40000 ALTER TABLE `lotes_bilhetica` DISABLE KEYS */;
/*!40000 ALTER TABLE `lotes_bilhetica` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mensagens_pmd`
--

DROP TABLE IF EXISTS `mensagens_pmd`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mensagens_pmd` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `conteudo` varchar(1000) NOT NULL,
  `data_criacao` datetime(6) NOT NULL,
  `estado` varchar(255) NOT NULL,
  `panel_id` varchar(255) NOT NULL,
  `prioridade` varchar(255) NOT NULL,
  `titulo` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mensagens_pmd`
--

LOCK TABLES `mensagens_pmd` WRITE;
/*!40000 ALTER TABLE `mensagens_pmd` DISABLE KEYS */;
INSERT INTO `mensagens_pmd` VALUES (1,'LINHA 43 COM ATRASO DE 10 MIN DEVIDO A TRANSITO','2026-05-26 10:27:05.841725','ATIVA','PMD-001','MEDIA','Mensagem Programada'),(2,'LINHA 43 COM ATRASO DE 10 MIN DEVIDO A TRANSITO','2026-05-26 10:27:05.822678','ATIVA','PMD-001','MEDIA','Mensagem para PMD-001');
/*!40000 ALTER TABLE `mensagens_pmd` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metricas_ingestao`
--

DROP TABLE IF EXISTS `metricas_ingestao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metricas_ingestao` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `estado` varchar(255) NOT NULL,
  `registos_invalidos` int NOT NULL,
  `registos_recebidos` int NOT NULL,
  `registos_validos` int NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `lote_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_9gpxklsihg40kxa12hrxvehvp` (`lote_id`),
  CONSTRAINT `FKtesnthkck1a89ufulsk30qg5v` FOREIGN KEY (`lote_id`) REFERENCES `lotes_bilhetica` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=200 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metricas_ingestao`
--

LOCK TABLES `metricas_ingestao` WRITE;
/*!40000 ALTER TABLE `metricas_ingestao` DISABLE KEYS */;
/*!40000 ALTER TABLE `metricas_ingestao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `painel_pmd`
--

DROP TABLE IF EXISTS `painel_pmd`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `painel_pmd` (
  `panel_id` varchar(255) NOT NULL,
  `location` varchar(255) DEFAULT NULL,
  `message` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `timestamp` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`panel_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `painel_pmd`
--

LOCK TABLES `painel_pmd` WRITE;
/*!40000 ALTER TABLE `painel_pmd` DISABLE KEYS */;
INSERT INTO `painel_pmd` VALUES ('PMD-001','Avenida Central','L43: 3 MIN | L7: 10 MIN','ONLINE','2026-05-26 15:24:00.537240'),('PMD-002','Universidade do Minho','L24: 3 MIN | L7: 8 MIN','ONLINE','2026-05-26 15:24:00.623049'),('PMD-003','Hospital de Braga','Painel temporariamente indispon├¡vel','DEGRADADO','2026-05-24 22:24:32.465953'),('PMD-004','Esta├º├úo CP','L7: 13 MIN','ONLINE','2026-05-26 15:24:00.686486'),('PMD-005','Bom Jesus','Informa├º├úo operacional em atualiza├º├úo','OFFLINE','2026-05-24 22:24:32.517992');
/*!40000 ALTER TABLE `painel_pmd` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pmd_paineis`
--

DROP TABLE IF EXISTS `pmd_paineis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pmd_paineis` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ativo` bit(1) NOT NULL,
  `codigo` varchar(255) NOT NULL,
  `estado` varchar(255) NOT NULL,
  `latitude` double NOT NULL,
  `localizacao` varchar(255) NOT NULL,
  `longitude` double NOT NULL,
  `nome` varchar(255) NOT NULL,
  `ultima_atualizacao` datetime(6) NOT NULL,
  `zona` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_9kerydkmbsp5bonycax3oi1g4` (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pmd_paineis`
--

LOCK TABLES `pmd_paineis` WRITE;
/*!40000 ALTER TABLE `pmd_paineis` DISABLE KEYS */;
/*!40000 ALTER TABLE `pmd_paineis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `politicas_auditoria`
--

DROP TABLE IF EXISTS `politicas_auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `politicas_auditoria` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `data_atualizacao` datetime(6) NOT NULL,
  `dias_retencao` int NOT NULL,
  `email_notificacao` varchar(255) DEFAULT NULL,
  `nivel_minimo` varchar(255) NOT NULL,
  `notificacoes_ativas` bit(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `politicas_auditoria`
--

LOCK TABLES `politicas_auditoria` WRITE;
/*!40000 ALTER TABLE `politicas_auditoria` DISABLE KEYS */;
INSERT INTO `politicas_auditoria` VALUES (1,'2026-05-24 22:24:31.856923',365,'admin@tub.pt','INFO',_binary '');
/*!40000 ALTER TABLE `politicas_auditoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `previsoes_chegada`
--

DROP TABLE IF EXISTS `previsoes_chegada`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `previsoes_chegada` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `destino` varchar(255) NOT NULL,
  `eta_minutos` int NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `linha_id` bigint NOT NULL,
  `painel_id` bigint NOT NULL,
  `viatura_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKn8go1lqo2cjsmwbyyuueug5g1` (`linha_id`),
  KEY `FKcdx5vpvmuj8j4a4g7k2vgpp` (`painel_id`),
  KEY `FKp0lb609erpx7bf22gp2d1r7h7` (`viatura_id`),
  CONSTRAINT `FKcdx5vpvmuj8j4a4g7k2vgpp` FOREIGN KEY (`painel_id`) REFERENCES `pmd_paineis` (`id`),
  CONSTRAINT `FKn8go1lqo2cjsmwbyyuueug5g1` FOREIGN KEY (`linha_id`) REFERENCES `linhas` (`id`),
  CONSTRAINT `FKp0lb609erpx7bf22gp2d1r7h7` FOREIGN KEY (`viatura_id`) REFERENCES `viaturas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4907 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `previsoes_chegada`
--

LOCK TABLES `previsoes_chegada` WRITE;
/*!40000 ALTER TABLE `previsoes_chegada` DISABLE KEYS */;
INSERT INTO `previsoes_chegada` VALUES (4901,'Arcada',10,'2026-05-26 15:24:00.484564',3,1,4),(4902,'Esta├º├úo CP',3,'2026-05-26 15:24:00.498970',1,1,3),(4903,'Braga Parque',3,'2026-05-26 15:24:00.576952',4,2,3),(4904,'Arcada',8,'2026-05-26 15:24:00.593892',3,2,4),(4905,'Arcada',13,'2026-05-26 15:24:00.652597',3,4,3),(4906,'Arcada',13,'2026-05-26 15:24:00.662074',3,4,5);
/*!40000 ALTER TABLE `previsoes_chegada` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `publicacoes_pmd`
--

DROP TABLE IF EXISTS `publicacoes_pmd`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `publicacoes_pmd` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `data_envio` datetime(6) NOT NULL,
  `data_remocao` datetime(6) DEFAULT NULL,
  `estado_publicacao` varchar(255) NOT NULL,
  `observacoes` varchar(1000) DEFAULT NULL,
  `mensagem_id` bigint NOT NULL,
  `painel_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK1r0h1x70dpgc0hbjky8ho32gc` (`mensagem_id`),
  KEY `FK39imk1hlkwjvvhgkex0se0oj2` (`painel_id`),
  CONSTRAINT `FK1r0h1x70dpgc0hbjky8ho32gc` FOREIGN KEY (`mensagem_id`) REFERENCES `mensagens_pmd` (`id`),
  CONSTRAINT `FK39imk1hlkwjvvhgkex0se0oj2` FOREIGN KEY (`painel_id`) REFERENCES `pmd_paineis` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `publicacoes_pmd`
--

LOCK TABLES `publicacoes_pmd` WRITE;
/*!40000 ALTER TABLE `publicacoes_pmd` DISABLE KEYS */;
/*!40000 ALTER TABLE `publicacoes_pmd` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registos_auditoria`
--

DROP TABLE IF EXISTS `registos_auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `registos_auditoria` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `acao` varchar(255) NOT NULL,
  `detalhe` varchar(1000) DEFAULT NULL,
  `ip_origem` varchar(255) NOT NULL,
  `modulo` varchar(255) NOT NULL,
  `nivel` varchar(255) NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `utilizador` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=157 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registos_auditoria`
--

LOCK TABLES `registos_auditoria` WRITE;
/*!40000 ALTER TABLE `registos_auditoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `registos_auditoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registos_bilhetica`
--

DROP TABLE IF EXISTS `registos_bilhetica`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `registos_bilhetica` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `data_hora` datetime(6) NOT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `paragem_origem` varchar(255) DEFAULT NULL,
  `tipo_titulo` varchar(255) NOT NULL,
  `validacoes` int NOT NULL,
  `zona` varchar(255) DEFAULT NULL,
  `linha_id` bigint NOT NULL,
  `lote_id` bigint NOT NULL,
  `viatura_id` bigint DEFAULT NULL,
  `latitude_destino` double DEFAULT NULL,
  `longitude_destino` double DEFAULT NULL,
  `paragem_destino` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKm7utb0idut2ctr78m570u0do0` (`linha_id`),
  KEY `FK3gffuabypdo4v8frf24jsyap8` (`lote_id`),
  KEY `FKqth5yguxcfkajglpwfilknrsl` (`viatura_id`),
  CONSTRAINT `FK3gffuabypdo4v8frf24jsyap8` FOREIGN KEY (`lote_id`) REFERENCES `lotes_bilhetica` (`id`),
  CONSTRAINT `FKm7utb0idut2ctr78m570u0do0` FOREIGN KEY (`linha_id`) REFERENCES `linhas` (`id`),
  CONSTRAINT `FKqth5yguxcfkajglpwfilknrsl` FOREIGN KEY (`viatura_id`) REFERENCES `viaturas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4974 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registos_bilhetica`
--

LOCK TABLES `registos_bilhetica` WRITE;
/*!40000 ALTER TABLE `registos_bilhetica` DISABLE KEYS */;
/*!40000 ALTER TABLE `registos_bilhetica` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `regras_alerta`
--

DROP TABLE IF EXISTS `regras_alerta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `regras_alerta` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ativo` bit(1) NOT NULL,
  `descricao` varchar(255) NOT NULL,
  `limite` double NOT NULL,
  `tipo` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `regras_alerta`
--

LOCK TABLES `regras_alerta` WRITE;
/*!40000 ALTER TABLE `regras_alerta` DISABLE KEYS */;
/*!40000 ALTER TABLE `regras_alerta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `regras_notificacao`
--

DROP TABLE IF EXISTS `regras_notificacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `regras_notificacao` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ativa` bit(1) NOT NULL,
  `canal` varchar(255) NOT NULL,
  `destinatario` varchar(255) NOT NULL,
  `severidade_minima` varchar(255) NOT NULL,
  `tipo_evento` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `regras_notificacao`
--

LOCK TABLES `regras_notificacao` WRITE;
/*!40000 ALTER TABLE `regras_notificacao` DISABLE KEYS */;
/*!40000 ALTER TABLE `regras_notificacao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessoes_autenticadas`
--

DROP TABLE IF EXISTS `sessoes_autenticadas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessoes_autenticadas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ativa` bit(1) NOT NULL,
  `data_expiracao` datetime(6) NOT NULL,
  `data_inicio` datetime(6) NOT NULL,
  `token` varchar(768) NOT NULL,
  `utilizador_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_g0nwntorci8e159cb0mh65l4b` (`token`),
  KEY `FKcwuvgswei0c55cwccr7gu0ju5` (`utilizador_id`),
  CONSTRAINT `FKcwuvgswei0c55cwccr7gu0ju5` FOREIGN KEY (`utilizador_id`) REFERENCES `utilizadores` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessoes_autenticadas`
--

LOCK TABLES `sessoes_autenticadas` WRITE;
/*!40000 ALTER TABLE `sessoes_autenticadas` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessoes_autenticadas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tarefas_agendadas`
--

DROP TABLE IF EXISTS `tarefas_agendadas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tarefas_agendadas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ativo` bit(1) NOT NULL,
  `data_hora_execucao` datetime(6) DEFAULT NULL,
  `email_destinatario` varchar(255) DEFAULT NULL,
  `estado` varchar(255) DEFAULT NULL,
  `formato` varchar(255) DEFAULT NULL,
  `nome_tarefa` varchar(255) DEFAULT NULL,
  `periodicidade` varchar(255) DEFAULT NULL,
  `tipo_relatorio` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tarefas_agendadas`
--

LOCK TABLES `tarefas_agendadas` WRITE;
/*!40000 ALTER TABLE `tarefas_agendadas` DISABLE KEYS */;
INSERT INTO `tarefas_agendadas` VALUES (1,_binary '','2026-05-26 01:00:00.045941',NULL,'SUCESSO',NULL,'GeracaoAutomaticaRelatorioValidacoes',NULL,NULL),(2,_binary '','2026-05-26 10:31:25.207946',NULL,'SUCESSO',NULL,'GeracaoAutomaticaRelatorioValidacoes',NULL,NULL);
/*!40000 ALTER TABLE `tarefas_agendadas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tarefas_exibicao`
--

DROP TABLE IF EXISTS `tarefas_exibicao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tarefas_exibicao` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `concluida` bit(1) NOT NULL,
  `data_hora_exibicao` datetime(6) NOT NULL,
  `mensagem_id` bigint NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tarefas_exibicao`
--

LOCK TABLES `tarefas_exibicao` WRITE;
/*!40000 ALTER TABLE `tarefas_exibicao` DISABLE KEYS */;
INSERT INTO `tarefas_exibicao` VALUES (1,_binary '','2026-05-26 10:24:00.000000',1);
/*!40000 ALTER TABLE `tarefas_exibicao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilizadores`
--

DROP TABLE IF EXISTS `utilizadores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilizadores` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ativo` bit(1) NOT NULL,
  `cargo` varchar(255) NOT NULL,
  `data_atualizacao` datetime(6) DEFAULT NULL,
  `data_criacao` datetime(6) NOT NULL,
  `email` varchar(255) NOT NULL,
  `nome` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `tentativas_falhadas` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_oqlxnynkgkt88xetmqnkh58bj` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilizadores`
--

LOCK TABLES `utilizadores` WRITE;
/*!40000 ALTER TABLE `utilizadores` DISABLE KEYS */;
INSERT INTO `utilizadores` VALUES (1,_binary '','ADMINISTRADOR',NULL,'2026-05-24 22:24:31.633649','admin@tub.pt','Administrador TUB','1234',0),(2,_binary '','OPERADOR',NULL,'2026-05-24 22:24:31.761278','operador@tub.pt','Operador TUB','1234',0),(3,_binary '\0','OPERADOR',NULL,'2026-05-24 22:24:31.794322','bloqueado@tub.pt','Utilizador Bloqueado','1234',5);
/*!40000 ALTER TABLE `utilizadores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `viaturas`
--

DROP TABLE IF EXISTS `viaturas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `viaturas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ativa` bit(1) NOT NULL,
  `capacidade_maxima` int NOT NULL,
  `codigo` int NOT NULL,
  `matricula` varchar(255) DEFAULT NULL,
  `modelo` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_41jslrqhptv0jofm39vsiy34u` (`codigo`),
  UNIQUE KEY `UK_d5uf1f8t1wvjah10lsdpteoue` (`matricula`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `viaturas`
--

LOCK TABLES `viaturas` WRITE;
/*!40000 ALTER TABLE `viaturas` DISABLE KEYS */;
INSERT INTO `viaturas` VALUES (1,_binary '',80,101,'AA-10-TB','Mercedes Citaro'),(2,_binary '',75,102,'AA-11-TB','MAN Lion\'s City'),(3,_binary '',90,103,'AA-12-TB','Volvo 7900'),(4,_binary '',70,104,'AA-13-TB','Caetano City Gold'),(5,_binary '',85,105,'AA-14-TB','Mercedes eCitaro'),(6,_binary '\0',75,106,'AA-15-TB','MAN Lion\'s City');
/*!40000 ALTER TABLE `viaturas` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-26 15:52:44
